body {
  background-color: rgba(0, 0, 0, 0.75);
  color: rgba(255, 255, 255, 1.0);
}

.entityRectangle {
  /* margin: 50px; */
  padding: 1em;
  position: absolute;
  border: 1px #bbbbbb dotted;
}

.entityRectangle .label {
  font-size: 8pt;
  color: #888888;
  position: absolute;
  top: -2.5em;
  width: 20em;
}

div#display {
  border: 1px #0000ff dotted;
}

div.overlay {
  position: absolute;
  border: 1px #00ff00 dotted;
  /* z-index: 10; */
}

svg.overlay {
  position: absolute;
  border: 1px #ff0000 dotted;
}
