body {
  background-color: rgba(0, 0, 0, 0.75);
  color: rgba(255, 255, 255, 1.0);
}

.entityRectangle {
  /* margin: 50px; */
  padding: 1em;
  position: absolute;
  border: 1px #bbbbbb dotted;
}

.entityRectangle .label {
  font-size: 8pt;
  color: #888888;
  position: absolute;
  top: -2.5em;
  width: 20em;
}
