body {
  background-color: rgba(0, 0, 0, 0.75);
  color: rgba(255, 255, 255, 1.0);
}

div.entity {
  /* margin: 50px; */
  padding: 0 1em 1em 1em;
  position: absolute;
  border: 1px #bbbbbb dotted;
}

div.entity > div.header {
  position: relative;
  width: max-content;
}

div.header > p.label {
  font-size: 8pt;
  color: #888888;
}

div.entity > div.body {
  position: relative;
  /* width: max-content; */
  width: 20em;
}

div.entity > div.children {
  position: relative;
  border: 1px #00ffff solid;
}

div.entity div.entity {
  /* padding: 0; */
}

div#display {
  border: 1px #0000ff dotted;
  position: absolute;
}

div.overlay {
  position: absolute;
  border: 1px #00ff00 dotted;
  /* z-index: 10; */
}

svg.overlay {
  position: absolute;
  border: 1px #ff0000 dotted;
}
